	a:link { color: #5e82f9; text-decoration: none; } 
	a:visited { color: #5e82f9; text-decoration: none; }
	a:hover { color: #4a72f8; text-decoration: none; }

	.menu {
		display: inline-block;
		position: relative;
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: 0px;
	}
	.menu li{		
		list-style: none;
		display: inline-block;
		position: relative;		
	}
	.menu li a{
		display: inline-block;
		padding: 10px;
		background: #2b78a5;
		color: White;
		font-family: Roboto, sans-serif;
		font-size: 16px;
		/padding-right: 100px;
		width: 170px;
		border-left: 1px solid rgba(255,255,255,0.3);
		transition: all 0.1s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	}
	.menu li a:hover{
		background: #368ec1;
		transition: all 0.3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	}
	.has_submenu_slidedown {
		position: relative;
	}
	/*.has_submenu_slidedown:hover .submenu_slidedown{
		display: block;
	}*/
	.has_submenu_dropdown {
		position: relative;
	}
	/*.has_submenu_dropdown:hover .submenu_dropdown{
		display: block;
	}*/
	.submenu_slidedown {
		display: none;
		position: absolute;
		padding: 0;
		top: 100%;
		left: 0;
		list-style: none;		
	}
	.submenu_slidedown li a, .submenu_dropdown li a{
		font-size: 16px;    
		border-top: 1px solid rgba(255,255,255,0.3);
		border-bottom: none;
		line-height: 18px;
		width: 170px;
	}

	.submenu_dropdown {
		display: none;
		padding: 0;
		position: absolute;
		left: 100%;
		top: 0;
		width: 100%;
	}